In [23]:
 import pandas as pd

In [24]:
df_5 = pd.read_csv("/home/student/SBSW/map_reduce/5.txt")

/home/student/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df_weather = pd.read_csv("/home/student/dublin_weather.csv")

In [26]:
df_5.head(10)

,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
0,DB,27-MAR-17 00:00:00,4526398,5,1423,36301,36301,36135,36135,2534803,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
1,DB,04-APR-17 00:00:00,4531808,5,6015,26923,26923,27105,27114,1001238,NaN,NaN,NaN,NaN,NaN,NaN,05-MAY-17 18:01:05,NaN
2,DB,21-MAR-17 00:00:00,4517989,5,6342,67646,67646,67612,67626,2693266,NaN,NaN,NaN,NaN,NaN,NaN,03-APR-17 21:15:39,NaN
3,DB,21-MAR-17 00:00:00,4518250,5,2678,51054,51054,50993,50993,2534834,NaN,NaN,NaN,NaN,NaN,NaN,03-APR-17 21:15:39,NaN
4,DB,13-JAN-17 00:00:00,4082182,5,4933,82976,82976,82917,82917,1000848,NaN,NaN,NaN,NaN,NaN,NaN,24-JAN-17 13:39:49,NaN
5,DB,27-MAR-17 00:00:00,4535937,5,1258,43766,43766,43764,43780,2693228,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
6,DB,04-APR-17 00:00:00,4520698,5,846,67118,67118,67187,67217,1001241,NaN,NaN,NaN,NaN,NaN,NaN,05-MAY-17 18:01:05,NaN
7,DB,21-MAR-17 00:00:00,4518870,5,2363,39938,39938,39959,39973,1000898,NaN,NaN,NaN,NaN,NaN,NaN,03-APR-17 21:15:39,NaN
8,DB,13-JAN-17 00:00:00,4082098,5,4933,32720,32720,32626,32626,1001103,NaN,NaN,NaN,NaN,NaN,NaN,24-JAN-17 13:39:49,NaN
9,DB,13-JAN-17 00:00:00,4082217,5,4933,68603,68603,68670,68681,1000168,NaN,NaN,NaN,NaN,NaN,NaN,24-JAN-17 13:39:49,NaN

In [27]:
df_weather.head(10)

,city_id,clouds.all,dt,dt_iso,main.humidity,main.pressure,main.temp,main.temp_max,main.temp_min,rain.1h,rain.24h,rain.3h,wind.deg,wind.speed,weather.description,weather.icon,weather.id,weather.main
0,2964574,75,1514764800,2018-01-01 00:00:00 +0000 UTC,80,990,277.15,277.15,277.15,NaN,NaN,NaN,240,11,broken clouds,04n,803,Clouds
1,2964574,75,1514768400,2018-01-01 01:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,240,13,light rain,10n,500,Rain
2,2964574,40,1514772000,2018-01-01 02:00:00 +0000 UTC,86,990,277.15,277.15,277.15,NaN,NaN,NaN,240,10,scattered clouds,03n,802,Clouds
3,2964574,40,1514775600,2018-01-01 03:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,250,12,light intensity shower rain,09n,520,Rain
4,2964574,40,1514779200,2018-01-01 04:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,240,9,scattered clouds,03n,802,Clouds
5,2964574,75,1514782800,2018-01-01 05:00:00 +0000 UTC,80,989,278.15,278.15,278.15,NaN,NaN,NaN,240,10,broken clouds,04n,803,Clouds
6,2964574,75,1514786400,2018-01-01 06:00:00 +0000 UTC,80,990,278.15,278.15,278.15,NaN,NaN,NaN,230,7,broken clouds,04n,803,Clouds
7,2964574,75,1514790000,2018-01-01 07:00:00 +0000 UTC,80,990,277.58,278.15,277.15,NaN,NaN,NaN,230,6,broken clouds,04n,803,Clouds
8,2964574,75,1514793600,2018-01-01 08:00:00 +0000 UTC,86,991,277.15,277.15,277.15,NaN,NaN,NaN,230,6,broken clouds,04n,803,Clouds
9,2964574,75,1514797200,2018-01-01 09:00:00 +0000 UTC,86,991,277.15,277.15,277.15,NaN,NaN,NaN,240,6,broken clouds,04n,803,Clouds

In [19]:
df_weather.drop(['rain.1h','rain.24h','rain.3h',], axis = 1)

,city_id,clouds.all,dt,dt_iso,main.humidity,main.pressure,main.temp,main.temp_max,main.temp_min,wind.deg,wind.speed,weather.description,weather.icon,weather.id,weather.main
0,2964574,75,1514764800,2018-01-01 00:00:00 +0000 UTC,80,990,277.15,277.15,277.15,240,11,broken clouds,04n,803,Clouds
1,2964574,75,1514768400,2018-01-01 01:00:00 +0000 UTC,80,990,277.58,278.15,277.15,240,13,light rain,10n,500,Rain
2,2964574,40,1514772000,2018-01-01 02:00:00 +0000 UTC,86,990,277.15,277.15,277.15,240,10,scattered clouds,03n,802,Clouds
3,2964574,40,1514775600,2018-01-01 03:00:00 +0000 UTC,80,990,277.58,278.15,277.15,250,12,light intensity shower rain,09n,520,Rain
4,2964574,40,1514779200,2018-01-01 04:00:00 +0000 UTC,80,990,277.58,278.15,277.15,240,9,scattered clouds,03n,802,Clouds
5,2964574,75,1514782800,2018-01-01 05:00:00 +0000 UTC,80,989,278.15,278.15,278.15,240,10,broken clouds,04n,803,Clouds
6,2964574,75,1514786400,2018-01-01 06:00:00 +0000 UTC,80,990,278.15,278.15,278.15,230,7,broken clouds,04n,803,Clouds
7,2964574,75,1514790000,2018-01-01 07:00:00 +0000 UTC,80,990,277.58,278.15,277.15,230,6,broken clouds,04n,803,Clouds
8,2964574,75,1514793600,2018-01-01 08:00:00 +0000 UTC,86,991,277.15,277.15,277.15,230,6,broken clouds,04n,803,Clouds
9,2964574,75,1514797200,2018-01-01 09:00:00 +0000 UTC,86,991,277.15,277.15,277.15,240,6,broken clouds,04n,803,Clouds
10,2964574,40,1514800800,2018-01-01 10:00:00 +0000 UTC,80,992,277.58,278.15,277.15,240,8,scattered clouds,03d,802,Clouds
11,2964574,75,1514804400,2018-01-01 11:00:00 +0000 UTC,81,992,278.58,279.15,278.15,250,10,broken clouds,04d,803,Clouds
12,2964574,75,1514808000,2018-01-01 12:00:00 +0000 UTC,75,993,279.58,280.15,279.15,260,13,broken clouds,04d,803,Clouds
13,2964574,75,1514811600,2018-01-01 13:00:00 +0000 UTC,81,994,280.15,280.15,280.15,280,13,light intensity shower rain,09d,520,Rain
14,2964574,75,1514815200,2018-01-01 14:00:00 +0000 UTC,87,996,280.28,281.15,279.15,280,13,light intensity shower rain,09d,520,Rain
15,2964574,40,1514818800,2018-01-01 15:00:00 +0000 UTC,81,998,280.15,280.15,280.15,280,9,light intensity shower rain,09d,520,Rain
16,2964574,75,1514822400,2018-01-01 16:00:00 +0000 UTC,81,999,280.15,280.15,280.15,280,11,broken clouds,04d,803,Clouds
17,2964574,20,1514826000,2018-01-01 17:00:00 +0000 UTC,81,1001,279.15,279.15,279.15,280,9,few clouds,02n,801,Clouds
18,2964574,20,1514829600,2018-01-01 18:00:00 +0000 UTC,86,1003,278.72,279.15,278.15,280,7,few clouds,02n,801,Clouds
19,2964574,20,1514833200,2018-01-01 19:00:00 +0000 UTC,86,1005,278.15,278.15,278.15,260,6,few clouds,02n,801,Clouds
20,2964574,40,1514836800,2018-01-01 20:00:00 +0000 UTC,80,1006,278.15,278.15,278.15,270,7,scattered clouds,03n,802,Clouds
21,2964574,40,1514840400,2018-01-01 21:00:00 +0000 UTC,75,1007,278.15,278.15,278.15,260,7,scattered clouds,03n,802,Clouds
22,2964574,40,1514844000,2018-01-01 22:00:00 +0000 UTC,80,1007,277.15,277.15,277.15,260,8,scattered clouds,03n,802,Clouds
23,2964574,40,1514847600,2018-01-01 23:00:00 +0000 UTC,100,1008,276.15,276.15,276.15,260,7,scattered clouds,03n,802,Clouds
24,2964574,40,1514851200,2018-01-02 00:00:00 +0000 UTC,100,1008,276.72,277.15,276.15,250,6,scattered clouds,03n,802,Clouds
25,2964574,75,1514854800,2018-01-02 01:00:00 +0000 UTC,100,1008,276.58,277.15,276.15,250,5,broken clouds,04n,803,Clouds
26,2964574,75,1514858400,2018-01-02 02:00:00 +0000 UTC,100,1008,277.15,277.15,277.15,240,5,broken clouds,04n,803,Clouds
27,2964574,75,1514862000,2018-01-02 03:00:00 +0000 UTC,100,1007,277.72,278.15,277.15,210,3,broken clouds,04n,803,Clouds
28,2964574,75,1514865600,2018-01-02 04:00:00 +0000 UTC,100,1006,277.72,278.15,277.15,160,2,broken clouds,04n,803,Clouds
29,2964574,75,1514869200,2018-01-02 05:00:00 +0000 UTC,75,1005,278.72,279.15,278.15,150,4,broken clouds,04n,803,Clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2173,2964574,75,1522612800,2018-04-01 20:00:00 +0000 UTC,75,1007,277.58,278.15,277.15,90,8,light rain,10n,500,Rain
2174,2964574,75,1522616400,2018-04-01 21:00:00 +0000 UTC,80,1007,277.58,278.15,277.15,90,8,light rain,10n,500,Rain
2175,2964574,75,1522620000,2018-04-01 22:00:00 +0000 UTC,86,1006,277.15,277.15,277.15,110,9,light rain,10n,500,Rain
2176,2964574,75,1522623600,2018-04-01 23:00:00 +0000 UTC,86,1005,276.58,277.15,276.15,110,8,light rain,10n,500,Rain
2177,2964574,75,1522627200,2018-04-02 00:00:00 +0000 UTC,93,1003,277.15,277.15,277.15,90,8,light rain,10n,500,Rain
2178,2964574,75,1522627200,2018-04-02 00:00:00 +0000 UTC,93,1003,277.15,277.15,277.15,90,8,light rain,10n,500,Rain
2179,2964574,75,1522630800,2018-04-02 01:00:00 +0000 UTC,93,1002,276.15,276.15,276.15,110,7,light rain,10n,500,Rain
2180,2964574,75,1522634400,2018-04-02 02:00:00 +0000 UTC,86,1001,276.58,277.15,276.15,90,9,light rain,10n,500,Rain
2181,2964574,75,1522638000,2018-04-02 03:00:00 +0000 UTC,93,999,276.15,276.15,276.15,90,10,light rain,10n,500,Rain
2182,2964574,75,1522641600,2018-04-02 04:00:00 +0000 UTC,93,999,276.15,276.15,276.15,90,9,moderate rain,10n,501,Rain
2183,2964574,75,1522645200,2018-04-02 05:00:00 +0000 UTC,100,996,276.15,276.15,276.15,80,10,light rain,10n,500,Rain
2184,2964574,75,1522648800,2018-04-02 06:00:00 +0000 UTC,93,995,276.58,277.15,276.15,90,9,light rain,10n,500,Rain
2185,2964574,75,1522652400,2018-04-02 07:00:00 +0000 UTC,100,994,276.15,276.15,276.15,90,9,light rain,10d,500,Rain
2186,2964574,75,1522656000,2018-04-02 08:00:00 +0000 UTC,93,994,277.15,277.15,277.15,80,9,light rain,10d,500,Rain
2187,2964574,75,1522659600,2018-04-02 09:00:00 +0000 UTC,100,993,277.15,277.15,277.15,80,9,light rain,10d,500,Rain
2188,2964574,75,1522663200,2018-04-02 10:00:00 +0000 UTC,100,992,277.15,277.15,277.15,80,8,light rain,10d,500,Rain
2189,2964574,75,1522666800,2018-04-02 11:00:00 +0000 UTC,93,990,277.54,278.15,277.15,70,8,light rain,10d,500,Rain
2190,2964574,75,1522670400,2018-04-02 12:00:00 +0000 UTC,93,990,278.15,278.15,278.15,60,7,moderate rain,10d,501,Rain
2191,2964574,75,1522674000,2018-04-02 13:00:00 +0000 UTC,100,989,278.15,278.15,278.15,60,7,light rain,10d,500,Rain
2192,2964574,75,1522677600,2018-04-02 14:00:00 +0000 UTC,100,988,278.58,279.15,278.15,50,5,moderate rain,10d,501,Rain
2193,2964574,75,1522681200,2018-04-02 15:00:00 +0000 UTC,93,988,279.58,280.15,279.15,40,4,moderate rain,10d,501,Rain
2194,2964574,75,1522684800,2018-04-02 16:00:00 +0000 UTC,100,987,280.15,280.15,280.15,20,3,light rain,10d,500,Rain
2195,2964574,75,1522688400,2018-04-02 17:00:00 +0000 UTC,100,987,280.15,280.15,280.15,360,2,fog,50d,741,Fog
2196,2964574,75,1522692000,2018-04-02 18:00:00 +0000 UTC,100,987,280.15,280.15,280.15,350,2,fog,50d,741,Fog
2197,2964574,75,1522695600,2018-04-02 19:00:00 +0000 UTC,100,987,280.15,280.15,280.15,360,3,fog,50d,741,Fog
2198,2964574,75,1522699200,2018-04-02 20:00:00 +0000 UTC,100,987,279.72,280.15,279.15,20,2,light rain,10n,500,Rain
2199,2964574,75,1522702800,2018-04-02 21:00:00 +0000 UTC,100,987,279.72,280.15,279.15,10,2,moderate rain,10n,501,Rain
2200,2964574,75,1522706400,2018-04-02 22:00:00 +0000 UTC,100,987,279.66,280.15,279.15,360,2,light rain,10n,500,Rain
2201,2964574,75,1522710000,2018-04-02 23:00:00 +0000 UTC,100,987,279.15,279.15,279.15,360,2,light rain,10n,500,Rain
2202,2964574,75,1522713600,2018-04-03 00:00:00 +0000 UTC,100,987,279.15,279.15,279.15,40,2,mist,50n,701,Mist

In [28]:
df_5.drop(['passengers','passengersin','passengersout','distance','suppressed','justificationid','note'], axis = 1)

,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,lastupdate
0,DB,27-MAR-17 00:00:00,4526398,5,1423,36301,36301,36135,36135,2534803,09-APR-17 09:00:06
1,DB,04-APR-17 00:00:00,4531808,5,6015,26923,26923,27105,27114,1001238,05-MAY-17 18:01:05
2,DB,21-MAR-17 00:00:00,4517989,5,6342,67646,67646,67612,67626,2693266,03-APR-17 21:15:39
3,DB,21-MAR-17 00:00:00,4518250,5,2678,51054,51054,50993,50993,2534834,03-APR-17 21:15:39
4,DB,13-JAN-17 00:00:00,4082182,5,4933,82976,82976,82917,82917,1000848,24-JAN-17 13:39:49
5,DB,27-MAR-17 00:00:00,4535937,5,1258,43766,43766,43764,43780,2693228,09-APR-17 09:00:06
6,DB,04-APR-17 00:00:00,4520698,5,846,67118,67118,67187,67217,1001241,05-MAY-17 18:01:05
7,DB,21-MAR-17 00:00:00,4518870,5,2363,39938,39938,39959,39973,1000898,03-APR-17 21:15:39
8,DB,13-JAN-17 00:00:00,4082098,5,4933,32720,32720,32626,32626,1001103,24-JAN-17 13:39:49
9,DB,13-JAN-17 00:00:00,4082217,5,4933,68603,68603,68670,68681,1000168,24-JAN-17 13:39:49
10,DB,13-JAN-17 00:00:00,4082187,5,4933,51835,51835,51784,51784,1001152,24-JAN-17 13:39:49
11,DB,13-JAN-17 00:00:00,4082093,5,4933,50635,50635,50642,50652,1000190,24-JAN-17 13:39:49
12,DB,13-JAN-17 00:00:00,4082125,5,4933,59054,59054,59064,59085,2534792,24-JAN-17 13:39:49
13,DB,13-JAN-17 00:00:00,4082221,5,4933,21854,21854,21719,21719,1000223,24-JAN-17 13:39:49
14,DB,13-JAN-17 00:00:00,4082180,5,4933,41014,41014,41053,41070,2172247,24-JAN-17 13:39:49
15,DB,13-JAN-17 00:00:00,4082198,5,4933,42214,42214,42215,42215,1000181,24-JAN-17 13:39:49
16,DB,13-JAN-17 00:00:00,4082184,5,4933,60595,60595,60695,60695,1001132,24-JAN-17 13:39:49
17,DB,13-JAN-17 00:00:00,4082197,5,4933,54295,54295,54244,54244,1000181,24-JAN-17 13:39:49
18,DB,27-MAR-17 00:00:00,4524724,5,515,71969,71969,71957,71968,1000847,09-APR-17 09:00:06
19,DB,01-APR-17 00:00:00,4533613,5,515,70452,70452,70430,70430,1932329,05-MAY-17 10:25:35
20,DB,04-APR-17 00:00:00,4525205,5,4907,45735,45735,45713,45713,1000337,05-MAY-17 18:01:05
21,DB,21-MAR-17 00:00:00,4516427,5,7017,47026,47026,46984,46997,1000603,03-APR-17 21:15:39
22,DB,17-JAN-17 00:00:00,4092944,5,230,31513,31513,31399,31412,1000313,16-FEB-17 09:48:02
23,DB,27-MAR-17 00:00:00,4533346,5,6017,62838,62838,62898,62930,1932312,09-APR-17 09:00:06
24,DB,04-APR-17 00:00:00,4534493,5,4747,33810,33810,33876,33968,2693248,05-MAY-17 18:01:05
25,DB,21-MAR-17 00:00:00,4517538,5,918,80204,80204,80172,80172,2693262,03-APR-17 21:15:39
26,DB,28-MAR-17 00:00:00,4528264,5,6021,50853,50853,50816,50816,1000752,09-APR-17 09:17:56
27,DB,21-MAR-17 00:00:00,4517785,5,2042,83119,83119,83031,83031,1000718,03-APR-17 21:15:39
28,DB,28-MAR-17 00:00:00,4520697,5,2007,58094,58094,58194,58235,2693272,09-APR-17 09:17:56
29,DB,04-APR-17 00:00:00,4529763,5,2844,26307,26307,26283,26283,2693276,05-MAY-17 18:01:05
...,...,...,...,...,...,...,...,...,...,...,...
398183,DB,04-MAR-16 00:00:00,2893937,5,796,64062,64062,64447,64447,1001139,27-APR-16 21:31:30
398184,DB,04-MAR-16 00:00:00,2893935,5,796,59262,59262,59533,59648,1001139,27-APR-16 21:31:30
398185,DB,04-MAR-16 00:00:00,2878942,5,796,38797,38797,38570,38581,1000887,27-APR-16 21:31:30
398186,DB,04-MAR-16 00:00:00,2885270,5,796,36397,36397,36686,36686,1000412,27-APR-16 21:31:30
398187,DB,04-MAR-16 00:00:00,2882408,5,796,44866,44866,44885,44938,1000304,27-APR-16 21:31:30
398188,DB,04-MAR-16 00:00:00,2885282,5,796,73573,73573,73556,73567,1000124,27-APR-16 21:31:30
398189,DB,04-MAR-16 00:00:00,2893931,5,796,26071,26071,26105,26105,1000128,27-APR-16 21:31:30
398190,DB,04-MAR-16 00:00:00,2885266,5,796,25471,25471,25514,25514,1000412,27-APR-16 21:31:30
398191,DB,04-MAR-16 00:00:00,2885217,5,4578,84121,84121,84222,84222,1000484,27-APR-16 21:31:30
398192,DB,04-MAR-16 00:00:00,2885215,5,4578,78721,78721,78773,78773,1000484,27-APR-16 21:31:30
398193,DB,04-MAR-16 00:00:00,2893950,5,1479,69963,69963,70269,70285,1932302,27-APR-16 21:31:30
398194,DB,04-MAR-16 00:00:00,2890431,5,1479,72363,72363,72699,72699,1932338,27-APR-16 21:31:30
398195,DB,04-MAR-16 00:00:00,2881374,5,1479,72963,72963,72929,72950,1000904,27-APR-16 21:31:30
398196,DB,04-MAR-16 00:00:00,2890069,5,1479,31651,31651,32049,32067,2172280,27-APR-16 21:31:30
398197,DB,04-MAR-16 00:00:00,2891093,5,1479,32251,32251,32926,32938,1932336,27-APR-16 21:31:30
398198,DB,04-MAR-16 00:00:00,2891893,5,1479,60214,60214,60224,60250,2534854,27-APR-16 21:31:30
398199,DB,04-MAR-16 00:00:00,2878057,5,1479,75889,75889,75874,75885,2172241,27-APR-16 21:31:30
398200,DB,04-MAR-16 00:00:00,2879301,5,1479,80689,80689,80871,80871,1000586,27-APR-16 21:31:30
398201,DB,04-MAR-16 00:00:00,2879206,5,1479,83089,83089,83064,83096,1932301,27-APR-16 21:31:30
398202,DB,04-MAR-16 00:00:00,2879297,5,1479,58103,58103,58073,58073,1000586,27-APR-16 21:31:30
398203,DB,04-MAR-16 00:00:00,2890942,5,1479,66530,66530,66592,66644,1000963,27-APR-16 21:31:30
398204,DB,04-MAR-16 00:00:00,2879295,5,1479,46005,46005,46053,46075,1000586,27-APR-16 21:31:30
398205,DB,04-MAR-16 00:00:00,2885320,5,1479,47205,47205,47227,47240,1000901,27-APR-16 21:31:30
398206,DB,04-MAR-16 00:00:00,2878053,5,1479,51405,51405,51519,51529,2172241,27-APR-16 21:31:30
398207,DB,04-MAR-16 00:00:00,2890427,5,1479,47805,47805,48170,48193,1932338,27-APR-16 21:31:30
398208,DB,04-MAR-16 00:00:00,2884862,5,1479,42394,42394,42430,42444,2172277,27-APR-16 21:31:30
398209,DB,04-MAR-16 00:00:00,2878265,5,1479,45394,45394,45326,45326,2172245,27-APR-16 21:31:30
398210,DB,04-MAR-16 00:00:00,2884860,5,1479,29865,29865,29609,29629,2172277,27-APR-16 21:31:30
398211,DB,04-MAR-16 00:00:00,2878427,5,1479,25600,25600,25536,25558,2172242,27-APR-16 21:31:30
398212,DB,04-MAR-16 00:00:00,2879196,5,1479,24400,24400,24540,24540,1932301,27-APR-16 21:31:30